.container {
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filter-input {
        width: 100%;
    }

    .action-button-container {

        .action-button {
            margin-left: 10px;
            
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.cdk-global-overlay-wrapper {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}