<div class="container">
    <div class="buttons-container">
        <div class="table-name">{{data.table.tableName | uppercase}}</div>
        <button mat-icon-button (click)="cancel()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="content">
        <div class="table-details">
            <div class="title">Table details</div>
            <div class="columns-list">
                <div class="column" *ngFor="let attribute of data.table.attributes">
                    <mat-icon class="column-element" color="primary" *ngIf="isPrimaryKey(attribute.attributeName)">vpn_key</mat-icon>
                    <div class="column-element">{{attribute.attributeName}}</div>
                    <div class="column-element">{{attribute.type}}</div>
                    <div class="column-element"*ngIf="attribute.isUnique">Unique</div>
                    <div class="column-element" *ngIf="!attribute.isNull">No null values</div>
                </div> 
            </div>
            <div class="title" *ngIf="data.table.foreignKeys.length">Foreign keys</div>
            <div class="foreign-key-list" *ngIf="data.table.foreignKeys.length">
                <div class="foreign-key" *ngFor="let foreignKey of data.table.foreignKeys">
                    <div class="foreign-key-element">
                        Column {{foreignKey.attributeName}} references column {{foreignKey.referencedAttributeName}} from {{foreignKey.referencedTableName}} table
                    </div>
                </div> 
            </div>
        </div>
        <div *ngIf="data.table.indexFiles.length" class="table-details">
            <div class="title">Indexes</div>
            <div class="index-list">
                <div class="index-line"*ngFor="let index of data.table.indexFiles">
                    <div class="index-element">Index name: {{index.indexName}}</div>
                    <div class="index-element">Index type: {{index.indexType || 'Unknown'}}</div>
                    <div class="index-element">Key length: {{index.keyLength || 'Unknown'}}</div>
                    <div class="index-element">Column: {{index.indexAttribute}}</div>
                    <div class="index-element" *ngIf="index.isUnique">Unique</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="title"> Records</div>
        <app-records-table
            [attributes]="data.table?.attributes"
            [primaryKey]="data.table?.primaryKey"
            [recordsList]="data.recordsList"
        ></app-records-table>
    </div>

</div>

