.container {
    width: 100%;

    .buttons-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .table-name {
            font-weight: 500;
            font-size: 25px;
        }
    }

    .content {
        display: flex;

        .table-details {
            width: 50%;

            .columns-list {
                margin-top: 10px;
                width: 100%;
    
                .column {
                    display: flex;
                    align-items: center;
    
                    .column-element {
                        margin-left: 20px;
    
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
           }

           .foreign-key-list {
                width: 100%;
                margin-top: 10px;
                
                .foreign-key {
                    
                    .foreign-key-element {
                        display: flex;
                        align-items: center;

                        .remove-foreign-key-button {
                            margin-left: 10px;
                        }
                    }
                }
            }
            .index-list {
                margin-top: 10px;
                
                .index-line {
                    display: flex;

                    .index-element {
                        margin-left: 10px;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}

.title {
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
}