.container {
    width: 100%;
    
    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .create-button {
            margin-left: 10px;
        }
    }
}