.container {
    width: 100%;
    
    .header {
        width: 100%;

        .title {
            font-size: 25px;
            font-weight: 500;
        }
    }

    .insert-record-form {
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .select-table-form-field {
            width: 20%;
        }
    }
    .record-container {
        display: flex;
        flex-wrap: wrap;
        .record-fields {
            margin-left: 50px;
            
            &:first-child {
                margin-left: 0;
            }
        }
    }

    .buttons-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .create-button {
            margin-left: 10px;
        }
    }
}