<div class="view-tables-container">
    <div class="actions-container">
        <app-actions
            [tablesList]="tablesList"
            (filterTablesList)="filterTablesList($event)"
            (findDatabaseAction)="findDatabase()"
            (createTableAction)="openAddTableDialog()"
            (createIndexAction)="openCreateIndexDialog()"
        >
        </app-actions>
    </div>
    <div class="tables-container">
        <app-view-tables
            *ngIf="tablesList && tablesList.length"
            [tablesList]="filteredTablesList"
            [databaseName]="selectedDatabase"
        >
        </app-view-tables>
        <div class="no-tables-message"*ngIf="!tablesList || !tablesList.length">
            There are no tables to display!
        </div>
    </div>
</div>
