.view-tables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    .actions-container {
        width: 70%;
        margin-bottom: 25px;
        min-width: 678px;
    }
    
    .tables-container {
        width: 70%;
        margin-top: 25px;
        min-width: 678px;
        
        .no-tables-message {
            background-color: rgb(248, 248, 152);
            color: rgb(116, 116, 77);
            border-radius: 5px;
            padding: 10px;
        }
    }
}