<div class="container">
    <div class="header">
        <div class="title">Create table</div>
    </div>
    <div class="create-table-form" [formGroup]="createTableForm">
        <mat-form-field>
            <input matInput formControlName="tableName" placeholder="Table name" autocomplete="off">
            <mat-error *ngIf="createTableForm.controls.tableName.errors?.required">Table name is required!</mat-error>
            <mat-error *ngIf="createTableForm.controls.tableName.errors?.pattern">Table name is invalid!</mat-error>
        </mat-form-field>
        <div class="column-fields-container" [formGroup]="columnControl">
             <mat-form-field class="column-field">
                 <input matInput formControlName="name" placeholder="Name" autocomplete="off">
                 <mat-error *ngIf="columnControl.controls.name.errors?.required">Name is required!</mat-error>
                 <mat-error *ngIf="columnControl.controls.name.errors?.nameExists">Column already exists!</mat-error>
             </mat-form-field>
             <mat-form-field class="column-field">
                 <mat-label>Type</mat-label>
                 <mat-select formControlName="type">
                     <mat-option *ngFor="let type of types" [value]="type">
                         {{ type }}
                     </mat-option>
                 </mat-select>
                 <mat-error *ngIf="columnControl.controls.type.errors?.required">Type is required</mat-error>
             </mat-form-field>
             <mat-form-field class="column-field">
                 <input matInput formControlName="length" placeholder="Length" autocomplete="off">
                 <mat-error *ngIf="columnControl.controls.length.errors?.required">Length is required!</mat-error>
                 <mat-error *ngIf="columnControl.controls.length.errors?.pattern">Invalid length value!</mat-error>
             </mat-form-field>
             <mat-checkbox class="column-field" formControlName="primaryKey" [labelPosition]="'before'" color="primary">Primary key</mat-checkbox>
             <mat-checkbox class="column-field" formControlName="isNull" [labelPosition]="'before'" color="primary">Is null</mat-checkbox>
             <mat-checkbox class="column-field" formControlName="isUnique" [labelPosition]="'before'" color="primary">Is unique</mat-checkbox>
             <button class="column-field" mat-icon-button [disabled]="disableAddColumnButton" (click)="addColumn()">
                 <mat-icon color="primary">add_box</mat-icon>
             </button>
        </div>
    </div>
    <div *ngIf="columns.length" class="columns-container">
        <div class="columns-header">Columns</div>
        <div class="columns-list">
            <div class="column" *ngFor="let column of columns">
                <mat-icon class="column-element" color="primary" *ngIf="column.primaryKey">vpn_key</mat-icon>
                <div class="column-element">{{column.name}}</div>
                <div class="column-element">{{column.type}}</div>
                <div class="column-element"*ngIf="column.isUnique">Unique</div>
                <div class="column-element" *ngIf="!column.isNull">No null values</div>
                <button mat-icon-button class="column-element" (click)="removeColumn(column.name)">
                    <mat-icon color="primary">close</mat-icon>
                </button>
            </div> 
        </div>
    </div>
    <div class="foreign-key-form-container" *ngIf="columns.length && data.tablesList.length">
        <div class="foreign-key-form-title">Create foreign key</div>
        <div class="foreign-key-form" [formGroup]="foreignKeyControl">
            <mat-form-field class="foreign-key-form-field">
                <mat-label>Attribute</mat-label>
                <mat-select formControlName="attributeName">
                    <mat-option *ngFor="let column of columns" [value]="column.name">
                        {{ column.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="foreignKeyControl.controls.attributeName.errors?.required">Attribute is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="foreign-key-form-field">
                <mat-label>Referenced table</mat-label>
                <mat-select formControlName="referencedTableName">
                    <mat-option *ngFor="let table of data.tablesList" [value]="table.tableName">
                        {{ table.tableName }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="foreignKeyControl.controls.referencedTableName.errors?.required">Referenced table is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="foreign-key-form-field">
                <mat-label>Referenced attribute</mat-label>
                <mat-select formControlName="referencedAttributeName" [disabled]="!listOfAttributes.length">
                    <mat-option *ngFor="let attribute of listOfAttributes" [value]="attribute.attributeName">
                        {{ attribute.attributeName }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="foreignKeyControl.controls.referencedAttributeName.errors?.required">Referenced attribute is required!</mat-error>
            </mat-form-field>
            <button class="foreign-key-form-field" mat-icon-button [disabled]="disableAddForeignKeyButton" (click)="addForeignKey()">
                <mat-icon color="primary">add_box</mat-icon>
            </button>
        </div>
    </div>
    <div *ngIf="foreignKeys.length" class="foreign-key-container">
        <div class="foreign-key-header">Foreign keys</div>
        <div class="foreign-key-list">
            <div class="foreign-key" *ngFor="let foreignKey of foreignKeys">
                <div class="foreign-key-element">
                    Column {{foreignKey.attributeName}} references column {{foreignKey.referencedAttributeName}} from {{foreignKey.referencedTableName}} table
                    <button mat-icon-button class="remove-foreign-key-button" (click)="removeForeignKey(foreignKey)">
                        <mat-icon color="primary">close</mat-icon>
                    </button>
                </div>
            </div> 
        </div>
    </div>
    <div class="buttons-container">
        <button mat-raised-button (click)="cancel()">Cancel</button>
        <button class="add-button" mat-raised-button color="primary" [disabled]="disableCreateButton" (click)="createTable()">Create</button>
    </div>
</div>
