.container {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
    flex-wrap: wrap;
    max-height: 700px;

    &::-webkit-scrollbar {
        width: 6px;
    }
    
    &::-webkit-scrollbar-thumb {
      background-color: gray;
      border-radius: 20px;
    }

    .no-tables-error {
      background-color: #b1f1ff;
      padding: 10px;
      border-radius: 5px;
      width: 100%;
  }
}